@model PosDataModel

<h2>Post Data to API</h2>

<form asp-controller="Post" asp-action="PostData" method="post">
    <div>
        <label for="customer_name">Customer Name:</label>
        <input type="text" id="customer_name" name="customer_name" required />
    </div>
    <div>
        <label for="customer_phone">Customer Phone:</label>
        <input type="text" id="customer_phone" name="customer_phone" required />
    </div>
    <div>
        <label for="pay_value">Pay Value:</label>
        <input type="number" id="pay_value" name="pay_value" required />
    </div>
    <div>
        <label for="store_id">Store ID:</label>
        <input type="number" id="store_id" name="store_id" required />
    </div>
    <div>
        <label for="invoice_id">Invoice ID:</label>
        <input type="number" id="invoice_id" name="invoice_id" required />
    </div>
    <div>
        <label for="herlan_cash_discount">Herlan Cash Discount:</label>
        <input type="number" id="herlan_cash_discount" name="herlan_cash_discount" required />
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>
